
$base-color-success: dynamic(#66cb9f);
$base-color-error: dynamic(#f16063);
$base-color-alert: dynamic(#ffaf6e);
$base-white-color: dynamic(#f2f2f2);

$primary-color: dynamic(#01587e);
$primary-color-dark: dynamic(darken($primary-color, 10%));
$primary-color-light: dynamic(lighten($primary-color, 5%));
$background-color: dynamic(#f5f5f5);
$base-gray-color: dynamic(#a6a6a6);
$base-color: $primary-color;

body {
  font-family: fantasy;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.news-card {
    background: #fff;
    border-radius: $default-border-radius;
    box-shadow: 0 2px 8px rgba(44, 62, 80, 0.08);
    padding: 8px;
    margin-bottom: 8px;
    align-items: start;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 1px solid #e1e4ea;
}
.news-grid {
  background: #fff;
  border-radius: $default-border-radius;
  box-shadow: 0 2px 8px rgba(44, 62, 80, 0.08);
  border: 1px solid #e1e4ea;
}
.news-image {
    height: 128px;
    width: 128px;
    margin: 8px;
    padding: 8px;
    border-radius: $default-border-radius;
    box-shadow: 0 2px 8px rgba(44, 62, 80, 0.08);
}
.text-large {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: '6px';
  color: #222 
}
.text-medium {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: '4px';
  width: 1024px;
  text-align: justify ;
  color: #444;
}
.text-small {
  font-size: 0.9em;
  font-weight: 400;
  margin-bottom: '2px';
  color: #666;
} 
::-webkit-scrollbar {
  background-color: lighten($color, 70%);
  width: 6px;
  height: 5px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: lighten($color, 30%);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $color;
  cursor: pointer;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none;
}

$default-border-radius: 4px;

BODY {
  background-color: azure;
}
