.main-view {
    min-height: 100vh;
    background-color: lighten($base-gray-color, 5%);
    padding: 8px;
    .main-tab-panel {
        border-radius: $default-border-radius;
        display: flex;
        justify-content: start !important;
        .x-tabbar {
            align-items: start !important;
        }
        .x-tab {
            width: 280px;
        }
    }
    .main-header {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 8px;
        color: $primary-color-dark;
    }
    
    .card {
        background: #fff;
        border-radius: $default-border-radius;
        box-shadow: 0 2px 8px rgba(44, 62, 80, 0.08);
        padding: 8px;
        margin-bottom: 8px;
        align-items: start;
        display: flex;
        flex: 1;
        width: 100vw;
        height: 100vh;
        border: 1px solid #e1e4ea;
    }
    .main-toolbar {
        background: #fff;
        border-radius: $default-border-radius;
        box-shadow: 0 2px 8px rgba(44, 62, 80, 0.08);
        padding: 8px 4px;
        margin-bottom: 24px;
        color: $primary-color !important;
        border: 1px solid #e1e4ea;
        display: flex;
        align-items: start;
        gap: 16px;

        .toolbar-title {
            font-size: 1.25rem;
            font-weight: 500;
            margin-right: auto;
        }
    }
}